<h1>About</h1>
<p>This Ruby on Rails application was created for the Ruby 210 course using <a href="http://docs.railsbridge.org/intro-to-rails/" target="_blank">this tutorial</a>.</p>



<%= link_to 'Back', topics_path %>
